.page-about {
    background-color: #fff;
    color: #413d4b;
    text-align: center;
    width: 100%;
}

.about-description {
    background-color: #fff;
    color: #413d4b;
    max-width: 100%;
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
}
.about-description__img {
    background-image: url("../img/logo-big.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: none;
    margin: 25px 25px 25px 25px;
    height: 229px;
    width: 235px;
    flex: 0 0 auto;
}
.about-description__content {
    display: inline-block;
    margin: 0 25px 0 25px;
    text-align: left;
    display: inline-flex;
    flex: 0 2 auto;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
    .about-description__title {
        color: #413d4b;
        font-family: "Playfair Display", serif;
        font-size: 22px;
        font-weight: 700;
        margin: 0 auto 25px 0;
        max-width: 535px;
        text-transform: uppercase;
    }
    .about-description__text {
        color: #413d4b;
        font-family: Roboto, sans-serif;
        font-size: 14px;
        font-weight: 300;
        margin: 0 auto 25px 0;
        max-width: 535px;
    }

.about-video {
    background-image: url("../img/video-play.png"), linear-gradient(to right, rgba(9,5,47,0.85) 0%, rgba(49,29,94,0.85) 100%), url("../img/bg-city.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #0A0637;
    color: #fff;
    width: 100%;
}

@media screen and (min-width: 750px) {
    .about-description {
        min-height: 350px;
    }
    .about-description__img {
        display: inline-block;
    }
}
@media screen and (min-width: 1024px) {
    .about-description__img {
        margin-right: 100px;
    }
}
