.button {
    background-color: transparent;
    border: 1px solid #00e0d0;
    color: #00e0d0;
    cursor: pointer;
    font-family: "Hammersmith One", sans-serif;
    font-size: 16px;
    font-weight: 400;
    align-self: center;
    margin: 0 25px;
    min-width: 120px;
    padding: 12px 12px;
    text-transform: uppercase;
    &:hover {
        background-color: #09052f;
    }
    &:active {
        background-color: #311d5e;
    }
}
