.page-expertise {
    background-color: #fff;
    color: #000;
}

.expertise-title {
    background-color: #fff;
    color: #000;
}

.expertise-subtitle {
    background-color: #fff;
    color: #000;
}

.expertise-card {
    background-color: #fff;
    color: #000;
}