.page-expertise {
    background-color: #fff;
    color: #413d4b;
}

.expertise-title {
    background-color: #fff;
    color: #413d4b;
}
    .expertise-subtitle {
        background-color: #fff;
        color: #2f2d35;
    }

.expertise-card {
    background-color: #fff;
    color: #413d4b;
}
    .expertise-card__title {
        background-color: #fff;
        color: #413d4b
    }
    .expertise-card__text {
        background-color: #fff;
        color: #333333
    }