.page-footer {
    background-color: #252525;
    color: #fff;
}

.footer-description {
    color: #fff;
}

.footer-contact-info {
    color: #fff;
}

.footer-subscribe {
    color: #fff;
}

.footer-nav {
    color: #fff;
}

.footer-copy {
    color: #fff;
}
