.page-header {
    background-image: linear-gradient(to right, rgba(9,5,47,0.85) 0%, rgba(49,29,94,0.85) 100%), url("images/bg-trees-grey.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #0A0637;
    color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.menu-bar {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 15px 0;
    width: 100%;
}

.main-menu-icon {
    display: inline-block;
    flex: 0 0 auto;
    float: right;
    color: #fff;
    border-radius: 2px;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 900;
    margin-right: 15px;
    padding: 15px 25px;
    position: relative;
    height: 100%;
    text-decoration: none;
    text-rendering: geometricPrecision;
    transition: border-radius 0.3s ease;
    &:hover {
        background-color: #09052f;
    }
    &::after {
        content: "\0000D7";
        display: block;
        background-color: #09052f;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        padding: 15px 25px;
        opacity: 0;
        transition: opacity 0.3s ease;
    }
}

.main-menu-icon.main-menu-icon_open {
    border-radius: 50%;
    background-color: transparent;
    &::after {
        opacity: 1;
    }
}

.main-menu {
    background-color: #0A0637;
    margin-top: -15px;
    padding-top: 25px;
    width: 200px;
    min-height: 100%;
    position: absolute;
    left: -200px;
    transition: left 0.3s ease;
    flex: 1 1 auto;
}

.main-menu.main-menu_open {
    left: 0;
}

.main-menu-list {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 900;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
    .main-menu-list__item {
        display: block;
    }
    .main-menu-list__link {
        display: block;
        color: white;
        text-align: center;
        padding: 10px 10px;
        text-decoration: none;
        &:hover, &:active {
            background-color: #09052f;
        }
    }
    .main-menu-list__link_active {
        color: #00e0d0;
    }

.carousel-intro {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slide-intro {
    text-align: center;
    padding: 25px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .slide-intro__title {
        font-family: "Playfair Display", serif;
        font-size: 32px;
        font-weight: 900;
        margin: 0 auto;
        max-width: 775px;
        text-transform: capitalize;
        &::after {
            content: "";
            border-top: 1px solid #00e0d0;
            display: block;
            margin: 20px auto 0 auto;
            width: 50px;
        }
    }
    .slide-intro__content {
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: 300;
        margin: 25px auto 50px auto;
        max-width: 775px;
    }

@media screen and (min-width: 750px) {
    .menu-bar {
        align-items: center;
    }
    .main-menu-icon {
        display: none;
    }
    .main-menu {
        background-color: transparent;
        display: inline-block;
        margin-top: 0;
        padding-top: 0;
        width: auto;
        position: static;
    }
    .main-menu-list__item {
        display: inline-block;
    }
    .slide-intro {
        flex: 1 1 550px;
    }
}