// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-branding-name: 'icon-branding';
$icon-branding-x: 103px;
$icon-branding-y: 0px;
$icon-branding-offset-x: -103px;
$icon-branding-offset-y: 0px;
$icon-branding-width: 50px;
$icon-branding-height: 42px;
$icon-branding-total-width: 153px;
$icon-branding-total-height: 150px;
$icon-branding-image: './images/sprite.png';
$icon-branding: (103px, 0px, -103px, 0px, 50px, 42px, 153px, 150px, './images/sprite.png', 'icon-branding', );
$icon-dribbble-name: 'icon-dribbble';
$icon-dribbble-x: 71px;
$icon-dribbble-y: 52px;
$icon-dribbble-offset-x: -71px;
$icon-dribbble-offset-y: -52px;
$icon-dribbble-width: 16px;
$icon-dribbble-height: 16px;
$icon-dribbble-total-width: 153px;
$icon-dribbble-total-height: 150px;
$icon-dribbble-image: './images/sprite.png';
$icon-dribbble: (71px, 52px, -71px, -52px, 16px, 16px, 153px, 150px, './images/sprite.png', 'icon-dribbble', );
$icon-facebook-name: 'icon-facebook';
$icon-facebook-x: 146px;
$icon-facebook-y: 44px;
$icon-facebook-offset-x: -146px;
$icon-facebook-offset-y: -44px;
$icon-facebook-width: 7px;
$icon-facebook-height: 15px;
$icon-facebook-total-width: 153px;
$icon-facebook-total-height: 150px;
$icon-facebook-image: './images/sprite.png';
$icon-facebook: (146px, 44px, -146px, -44px, 7px, 15px, 153px, 150px, './images/sprite.png', 'icon-facebook', );
$icon-game-name: 'icon-game';
$icon-game-x: 103px;
$icon-game-y: 44px;
$icon-game-offset-x: -103px;
$icon-game-offset-y: -44px;
$icon-game-width: 41px;
$icon-game-height: 50px;
$icon-game-total-width: 153px;
$icon-game-total-height: 150px;
$icon-game-image: './images/sprite.png';
$icon-game: (103px, 44px, -103px, -44px, 41px, 50px, 153px, 150px, './images/sprite.png', 'icon-game', );
$icon-google-plus-name: 'icon-google-plus';
$icon-google-plus-x: 85px;
$icon-google-plus-y: 71px;
$icon-google-plus-offset-x: -85px;
$icon-google-plus-offset-y: -71px;
$icon-google-plus-width: 15px;
$icon-google-plus-height: 14px;
$icon-google-plus-total-width: 153px;
$icon-google-plus-total-height: 150px;
$icon-google-plus-image: './images/sprite.png';
$icon-google-plus: (85px, 71px, -85px, -71px, 15px, 14px, 153px, 150px, './images/sprite.png', 'icon-google-plus', );
$icon-instagram-name: 'icon-instagram';
$icon-instagram-x: 68px;
$icon-instagram-y: 71px;
$icon-instagram-offset-x: -68px;
$icon-instagram-offset-y: -71px;
$icon-instagram-width: 15px;
$icon-instagram-height: 15px;
$icon-instagram-total-width: 153px;
$icon-instagram-total-height: 150px;
$icon-instagram-image: './images/sprite.png';
$icon-instagram: (68px, 71px, -68px, -71px, 15px, 15px, 153px, 150px, './images/sprite.png', 'icon-instagram', );
$icon-location-name: 'icon-location';
$icon-location-x: 52px;
$icon-location-y: 71px;
$icon-location-offset-x: -52px;
$icon-location-offset-y: -71px;
$icon-location-width: 14px;
$icon-location-height: 19px;
$icon-location-total-width: 153px;
$icon-location-total-height: 150px;
$icon-location-image: './images/sprite.png';
$icon-location: (52px, 71px, -52px, -71px, 14px, 19px, 153px, 150px, './images/sprite.png', 'icon-location', );
$icon-love-name: 'icon-love';
$icon-love-x: 0px;
$icon-love-y: 52px;
$icon-love-offset-x: 0px;
$icon-love-offset-y: -52px;
$icon-love-width: 50px;
$icon-love-height: 46px;
$icon-love-total-width: 153px;
$icon-love-total-height: 150px;
$icon-love-image: './images/sprite.png';
$icon-love: (0px, 52px, 0px, -52px, 50px, 46px, 153px, 150px, './images/sprite.png', 'icon-love', );
$icon-mobile-name: 'icon-mobile';
$icon-mobile-x: 0px;
$icon-mobile-y: 100px;
$icon-mobile-offset-x: 0px;
$icon-mobile-offset-y: -100px;
$icon-mobile-width: 28px;
$icon-mobile-height: 50px;
$icon-mobile-total-width: 153px;
$icon-mobile-total-height: 150px;
$icon-mobile-image: './images/sprite.png';
$icon-mobile: (0px, 100px, 0px, -100px, 28px, 50px, 153px, 150px, './images/sprite.png', 'icon-mobile', );
$icon-optimization-name: 'icon-optimization';
$icon-optimization-x: 0px;
$icon-optimization-y: 0px;
$icon-optimization-offset-x: 0px;
$icon-optimization-offset-y: 0px;
$icon-optimization-width: 50px;
$icon-optimization-height: 50px;
$icon-optimization-total-width: 153px;
$icon-optimization-total-height: 150px;
$icon-optimization-image: './images/sprite.png';
$icon-optimization: (0px, 0px, 0px, 0px, 50px, 50px, 153px, 150px, './images/sprite.png', 'icon-optimization', );
$icon-phone-name: 'icon-phone';
$icon-phone-x: 52px;
$icon-phone-y: 52px;
$icon-phone-offset-x: -52px;
$icon-phone-offset-y: -52px;
$icon-phone-width: 17px;
$icon-phone-height: 17px;
$icon-phone-total-width: 153px;
$icon-phone-total-height: 150px;
$icon-phone-image: './images/sprite.png';
$icon-phone: (52px, 52px, -52px, -52px, 17px, 17px, 153px, 150px, './images/sprite.png', 'icon-phone', );
$icon-twitter-name: 'icon-twitter';
$icon-twitter-x: 49px;
$icon-twitter-y: 100px;
$icon-twitter-offset-x: -49px;
$icon-twitter-offset-y: -100px;
$icon-twitter-width: 14px;
$icon-twitter-height: 11px;
$icon-twitter-total-width: 153px;
$icon-twitter-total-height: 150px;
$icon-twitter-image: './images/sprite.png';
$icon-twitter: (49px, 100px, -49px, -100px, 14px, 11px, 153px, 150px, './images/sprite.png', 'icon-twitter', );
$icon-web-name: 'icon-web';
$icon-web-x: 52px;
$icon-web-y: 0px;
$icon-web-offset-x: -52px;
$icon-web-offset-y: 0px;
$icon-web-width: 49px;
$icon-web-height: 50px;
$icon-web-total-width: 153px;
$icon-web-total-height: 150px;
$icon-web-image: './images/sprite.png';
$icon-web: (52px, 0px, -52px, 0px, 49px, 50px, 153px, 150px, './images/sprite.png', 'icon-web', );
$icon-youtube-name: 'icon-youtube';
$icon-youtube-x: 30px;
$icon-youtube-y: 100px;
$icon-youtube-offset-x: -30px;
$icon-youtube-offset-y: -100px;
$icon-youtube-width: 17px;
$icon-youtube-height: 11px;
$icon-youtube-total-width: 153px;
$icon-youtube-total-height: 150px;
$icon-youtube-image: './images/sprite.png';
$icon-youtube: (30px, 100px, -30px, -100px, 17px, 11px, 153px, 150px, './images/sprite.png', 'icon-youtube', );
$spritesheet-width: 153px;
$spritesheet-height: 150px;
$spritesheet-image: './images/sprite.png';
$spritesheet-sprites: ($icon-branding, $icon-dribbble, $icon-facebook, $icon-game, $icon-google-plus, $icon-instagram, $icon-location, $icon-love, $icon-mobile, $icon-optimization, $icon-phone, $icon-twitter, $icon-web, $icon-youtube, );
$spritesheet: (153px, 150px, './images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
