.page-team {
    background-color: #0A0637;
    color: #fff;
}

.team-title {
    color: #fff;
}
    .team-subtitle {
        color: #f9f9f9;
    }

.team-card {
    color: #fff;
}
    .team-card__name {
        color: #fff;
    }
    .team-card__position {
        color: #fafafa;
    }

.team-join {
    color: #f3f3f3;
}
