.page-team {
    background-color: #252525;
    color: #fff;
}

.team-title {
    color: #fff;
}

.team-subtitle {
    color: #fff;
}

.team-card {
    color: #fff;
}

.team-join {
    color: #fff;
}
