.page-testimonials {
    background-image: linear-gradient(to right, rgba(9,5,47,0.85) 0%, rgba(49,29,94,0.85) 100%), url("images/bg-trees-clouds.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #0A0637;
    color: #fff;
    text-align: center;
    padding: 25px 5px;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.testimonials-carousel {
    max-width: 100%;
}

.testimonials-slide.slick-slide {
    display: flex;
}

.testimonials-slide {
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 250px;
}
    .testimonials-slide__title {
        opacity: 0.9;
        color: #ffffff;
        font-family: "Playfair Display", serif;
        font-size: 100px;
        font-weight: 400;
        margin: 0 25px -40px 25px;
        max-width: 770px;
        text-align: center;
        text-transform: uppercase;
    }
    .testimonials-slide__text {
        opacity: 0.85;
        color: #ffffff;
        font-family: "Playfair Display", serif;
        font-size: 16px;
        font-weight: 400;
        margin: 2px 25px 0 25px;
        max-width: 770px;
        text-align: center;
    }
    .testimonials-slide__name {
        color: #fff;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        font-weight: 900;
        margin: 50px 25px 0 25px;
        max-width: 770px;
        text-align: center;
        text-transform: uppercase;
    }
    .testimonials-slide__position {
        opacity: 0.7;
        color: #ffffff;
        font-family: "Roboto", sans-serif;
        font-size: 13px;
        font-weight: 300;
        margin: 12px 25px 0 25px;
        max-width: 770px;
        text-align: center;
        text-transform: uppercase;
    }

.testimonials-indicators.slick-slider {
    color: #fff;
    max-width: 270px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px 5px 40px 5px;
    .slick-prev,
    .slick-next {
        position: relative;
        display: inline-block;
        height: 20px;
        width: 20px;
        line-height: 0px;
        font-size: 0px;
        cursor: pointer;
        background: transparent;
        color: transparent;
        margin: 0 15px 0 15px;
        padding: 0;
        border: none;
        outline: none;
        &:hover, &:focus {
            outline: none;
            background: transparent;
            color: transparent;
            &:before {
                opacity: 1;
            }
        }
        &.slick-disabled:before {
            opacity: 0.5;
        }
        &:before {
            content: "";
            position: absolute;
            border: 1px solid #ffffff;
            cursor: pointer;
            opacity: 0.7;
            display: inline-block;
            height: 15px;
            width: 15px;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    }
    .slick-prev {
        left: -15px;
        &:before {
            border-width: 0 0 1px 1px;
            transform: translate(-50%, -50%) rotate(45deg);
        }
    }
    .slick-next {
        right: -15px;
        &:before {
            border-width: 0 1px 1px 0;
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }
}

    .testimonials-indicators__img.slick-slide {
        border-radius: 50%;
        cursor: pointer;
        width: 28px;
        height: 28px;
        margin: 10px 5px;
        transition: transform 0.1s ease;
        &:hover {
            transform: scale(1.1, 1.1);
        }
    }
    .testimonials-indicators__img.slick-center {
        transform: scale(1.5, 1.5);
        margin-left: 10px;
        margin-right: 10px;
        &:hover {
            transform: scale(1.5, 1.5);
        }
    }

    @media screen and (min-width: 500px) {
        .testimonials-indicators.slick-slider {
            margin: 40px 25px 40px 25px;
            height: 90px;
            max-width: 360px;
        }
        .testimonials-indicators__img.slick-slide {
            width: 46.667px;
            height: 46.667px;
            margin: 25px 5px;
        }
        .testimonials-indicators__img.slick-center {
            margin-left: 15px;
            margin-right: 15px;
        }
    }
