.page-works {
    background-color: #fff;
    color: #413d4b;
    padding: 25px 0 30px 0;
    min-height: 745px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stertch;
}

.works-titlebar {
    width: 100%;
    max-width: 1440px;
    text-align: center;
    align-self: center;
}

@supports (display: flex) and (flex-wrap: wrap) {
    .works-titlebar {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
}

.works-title {
    background-color: #fff;
    color: #413d4b;
    font-family: "Playfair Display", serif;
    font-size: 22px;
    font-weight: 700;
    margin: 5px 15px 0 15px;
    max-width: 770px;
    text-align: center;
    text-transform: uppercase;
}

.works-all {
    background-color: #fff;
    color: #413d4b;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin: 5px 15px 0 15px;
    max-width: 770px;
    text-align: center;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
    &::after {
        content: " >";
        font-size: 16px;
        text-decoration: none;
    }
}
.works-images {
    max-width: 1700px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin: 25px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: stertch;
    align-self: center;
    flex-wrap: wrap;
    align-content: stretch;
}
    .works-images__img {
        display: inline-block;
        margin: 0 0;
        flex: 0.5 0.5 auto;
    }
    @media screen and (max-width: 410px) {
        .works-images__img {
            flex-basis: 100%;
        }
    }
    @media screen and (min-width: 550px) and (max-width: 749px) {
        .works-images__img {
            flex-basis: 50%;
        }
    }
    @media screen and (min-width: 750px) and (max-width: 1023px) {
        .works-images__img {
            flex-basis: 33.333%;
        }
    }
    @media screen and (min-width: 1024px) and (max-width: 1604px) {
        .works-images__img {
            flex-basis: 25%;
        }
    }
    @media screen and (min-width: 1605px) {
        .works-images__img {
            flex-basis: 16.667%;
        }
    }

@media screen and (min-width: 750px) {
    .works-titlebar {
        margin-left: auto;
        margin-right: auto;
    }
}