doctype html
html
    head
        meta(charset="utf-8")
        title Tajem
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="stylesheet" type="text/css" href="css/main.min.css")
    body
        include include/page-header.pug
        include include/page-about.pug
        include include/page-expertise.pug
        include include/page-team.pug
        include include/page-works.pug
        include include/page-testimonials.pug
        include include/page-contact.pug
        include include/page-footer.pug