@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,900&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,900&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Hammersmith+One');

@import "partial/_logo.scss";
@import "partial/_button.scss";
@import "partial/_header.scss";
@import "partial/_about.scss";
@import "partial/_expertise.scss";
@import "partial/_team.scss";
@import "partial/_works.scss";
@import "partial/_testimonials.scss";
@import "partial/_contact.scss";
@import "partial/_footer.scss";

body {
    background-color: #0A0637;
    margin: 0 0;
    padding: 0 0;
}