@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,900&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Hammersmith+One');

@import "partial/_normalize.scss";

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
    background-color: #0A0637;
    color: #fff;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

@import "partial/_lib.scss";

@import "partial/_sprite.scss";
@import "partial/_logo.scss";
@import "partial/_button.scss";
@import "partial/_header.scss";
@import "partial/_about.scss";
@import "partial/_expertise.scss";
@import "partial/_team.scss";
@import "partial/_works.scss";
@import "partial/_testimonials.scss";
@import "partial/_contact.scss";
@import "partial/_footer.scss";

