section#page-testimonials.page-testimonials
    .testimonials-carousel
        .testimonials-slide
            h3.testimonials-slide__title &ldquo;
            .testimonials-slide__text Place your awesome text here. Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.
            .testimonials-slide__name JANE GALADRIEL
            .testimonials-slide__position CEO TENGKUREP
        .testimonials-slide
            h3.testimonials-slide__title &ldquo;
            .testimonials-slide__text Place your awesome text here. Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.
            .testimonials-slide__name AENEAN SOLLICITUDIN
            .testimonials-slide__position ERAT CONSEQUAT
        .testimonials-slide
            h3.testimonials-slide__title &ldquo;
            .testimonials-slide__text Place your awesome text here. Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.
            .testimonials-slide__name MORBI ACCUMSAN
            .testimonials-slide__position LOREM QUIS
        .testimonials-slide
            h3.testimonials-slide__title &ldquo;
            .testimonials-slide__text Place your awesome text here. Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.
            .testimonials-slide__name NAM NEC
            .testimonials-slide__position ORNARE ODIO
        .testimonials-slide
            h3.testimonials-slide__title &ldquo;
            .testimonials-slide__text Place your awesome text here. Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.
            .testimonials-slide__name MAURIS VITAE
            .testimonials-slide__position DUIS SED
    .testimonials-indicators
        img.testimonials-indicators__img(src="img/testimonial-1.png" alt="")
        img.testimonials-indicators__img(src="img/testimonial-2.png" alt="")
        img.testimonials-indicators__img.testimonials-indicators__img_active(src="img/testimonial-3.png" alt="")
        img.testimonials-indicators__img(src="img/testimonial-4.png" alt="")
        img.testimonials-indicators__img(src="img/testimonial-5.png" alt="")