footer#page-footer.page-footer
    .footer-description
        h4.footer-description__title
        .footer-description__content
    .footer-contact-info
        h4.footer-contact-info__title
        .footer-contact-info__address
        .footer-contact-info__phone
    .footer-subscribe
        h4.footer-subscribe__title
        form.footer-subscribe__form
            input(placeholder="Subscribe our newsletter").footer-subscribe__input-text
            input(type="submit" value="").footer-subscribe__submit
        .footer-subscribe__social
    nav.footer-nav
        a(href="#").footer-nav__link HELP
        a(href="#").footer-nav__link TERMS &amp; CONDITION
        a(href="#").footer-nav__link PRIVACY
    .footer-copy Copyright &copy; 2018 - Tajem Creative