header#page-header.page-header
    .menu-bar
        .logo
            .logo-img
            .logo-text tajam
        nav.main-menu
            ul.main-menu-list
                li.main-menu-list__item
                    a.main-menu-list__link.main-menu-list__link_active(href="#page-header") HOME
                li.main-menu-list__item
                    a.main-menu-list__link(href="#page-about") ABOUT
                li.main-menu-list__item
                    a.main-menu-list__link(href="#page-expertise") EXPERTISE
                li.main-menu-list__item
                    a.main-menu-list__link(href="#page-team") TEAMS
                li.main-menu-list__item
                    a.main-menu-list__link(href="#page-works") WORKS
                li.main-menu-list__item
                    a.main-menu-list__link(href="#page-testimonials") PEOPLE SAY
                li.main-menu-list__item
                    a.main-menu-list__link(href="#page-contact") CONTACT
    .carousel-intro
        .slide-intro
            h3.slide-intro__title We Are Awesome Creative Agency
            .slide-intro__content This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
            button.button LEARN MORE