section#page-works.page-works
    .works-titlebar
        h3.works-title OUR WORKS
        a.works-all(href="#") See All Projects in dribbble
    .works-images
        img.works-images__img(src="img/work-1.png" alt="")
        img.works-images__img(src="img/work-2.png" alt="")
        img.works-images__img(src="img/work-3.png" alt="")
        img.works-images__img(src="img/work-4.png" alt="")
        img.works-images__img(src="img/work-1.png" alt="")
        img.works-images__img(src="img/work-3.png" alt="")
        img.works-images__img(src="img/work-2.png" alt="")
        img.works-images__img(src="img/work-1.png" alt="")
        img.works-images__img(src="img/work-4.png" alt="")
        img.works-images__img(src="img/work-3.png" alt="")
        img.works-images__img(src="img/work-2.png" alt="")
        img.works-images__img(src="img/work-1.png" alt="")
    button.button LOAD MORE