section#page-contact.page-contact
    .contact-form
        h3.contact-form__title GIVE US A GOOD NEWS
        form.contact-form__form
            input(placeholder="Name").contact-form__item
            input(type="email" placeholder="Email").contact-form__item
            input(placeholder="Subject").contact-form__item
            textarea(placeholder="Your Massage").contact-form__item
            input(type="submit" value="SUBMIT").contact-form__button
    .contact-clients
        h3.contact-clients__title OUR HAPPY CLIENT
        img(src="" alt="").contact-clients__img
        img(src="" alt="").contact-clients__img
        img(src="" alt="").contact-clients__img
        img(src="" alt="").contact-clients__img
        img(src="" alt="").contact-clients__img
        img(src="" alt="").contact-clients__img
        img(src="" alt="").contact-clients__img
        img(src="" alt="").contact-clients__img
        img(src="" alt="").contact-clients__img
        img(src="" alt="").contact-clients__img
