section#page-works.page-works
    h3.works-title OUR WORKS
    a.works-all(href="#") See All Project in dribbble &gt;
    .works-images
        img.works-images__img(src="" alt="")
        img.works-images__img(src="" alt="")
        img.works-images__img(src="" alt="")
        img.works-images__img(src="" alt="")
        img.works-images__img(src="" alt="")
        img.works-images__img(src="" alt="")
        img.works-images__img(src="" alt="")
        img.works-images__img(src="" alt="")
        img.works-images__img(src="" alt="")
        img.works-images__img(src="" alt="")
        img.works-images__img(src="" alt="")
        img.works-images__img(src="" alt="")
    button.works-button LEARN MORE