section#page-expertise.page-expertise
    h3.expertise-title EXPERTISE
    .expertise-subtitle Lorem ipsum dolor sit amet proin gravida nibh vel velit
    .expertise-content
        .expertise-card
            .expertise-card__icon.expertise-card__icon_web
            h4.expertise-card__title WEB DESIGN &amp; DEVELOPMENT
            .expertise-card__text Place your awesome text here. Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
        .expertise-card
            .expertise-card__icon.expertise-card__icon_branding
            h4.expertise-card__title BRANDING IDENTITY
            .expertise-card__text Place your awesome text here. Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
        .expertise-card
            .expertise-card__icon.expertise-card__icon_mobile
            h4.expertise-card__title MOBILE APP
            .expertise-card__text Place your awesome text here. Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
        .expertise-card
            .expertise-card__icon.expertise-card__icon_optimization
            h4.expertise-card__title SEARCH ENGINE OPTIMIZATION
            .expertise-card__text Place your awesome text here. Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
        .expertise-card
            .expertise-card__icon.expertise-card__icon_game
            h4.expertise-card__title GAME DEVELOPMENT
            .expertise-card__text Place your awesome text here. Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
        .expertise-card
            .expertise-card__icon.expertise-card__icon_love
            h4.expertise-card__title MADE WITH LOVE
            .expertise-card__text Place your awesome text here. Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.