section#page-contact.page-contact
    .contact-form
        h3.contact-form__title GIVE US A GOOD NEWS
        form.contact-form__form
            input(placeholder="Name").contact-form__item
            input(type="email" placeholder="Email").contact-form__item
            input(placeholder="Subject").contact-form__item
            textarea(placeholder="Your message").contact-form__item.contact-form__item_large
            input(type="submit" value="SUBMIT").button
    .contact-clients
        h3.contact-clients__title OUR HAPPY CLIENT
        .contact-clients__images
            img(src="img/client-zara.png" alt="").contact-clients__img
            img(src="img/client-mango.png" alt="").contact-clients__img
            img(src="img/client-barneys-new-york.png" alt="").contact-clients__img
            img(src="img/client-gucci.png" alt="").contact-clients__img
            img(src="img/client-calvin-klein.png" alt="").contact-clients__img
            img(src="img/client-nike.png" alt="").contact-clients__img
            img(src="img/client-converse.png" alt="").contact-clients__img
            img(src="img/client-puma.png" alt="").contact-clients__img
            img(src="img/client-levi-s.png" alt="").contact-clients__img
            img(src="img/client-billabong.png" alt="").contact-clients__img
