section#page-team.page-team
    h3.team-title MEET OUR AMAZING TEAM
    .team-subtitle Lorem ipsum dolor sit amet proin gravida nibh vel velit
    .team-people
        .team-card
            img.team-card__img(src="img/team-member.png" alt="SEMF UCUK")
            h4.team-card__name SEMF UCUK
            .team-card__position CEO &amp; FOUNDER
        .team-card
            img.team-card__img(src="img/team-member.png" alt="DIK ADALIN")
            h4.team-card__name DIK ADALIN
            .team-card__position ENGINEERING
        .team-card
            img.team-card__img(src="img/team-member.png" alt="JENG KOL")
            h4.team-card__name JENG KOL
            .team-card__position DESIGNER
        .team-card
            img.team-card__img(src="img/team-member.png" alt="PET ROMAK")
            h4.team-card__name PET ROMAK
            .team-card__position MARKETING
    .team-join Become part of our dream team, let’s join us !
    button.button WE ARE HIRING